<!DOCTYPE html>
<html ng-app="App">
    
    <head>
        
        <script src="http://code.createjs.com/soundjs-0.5.2.min.js"></script>
        <script src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="app-controller.js"></script>
    
    </head>
    
    <h1>Tocador de Musica</h1>
    
    <div id="centro" ng-controller="AppController">
        
        <input ng-model="music">
        <button ng-click="addSong(music)">Add Song</button>
        <button ng-click="init()">Play</button>
        <button ng-click="parar()">Parar</button>
        <br>
        
        <li ng-repeat="item in todos">
            {{ item.src }}
        </li>
        
    </div>
    
</html>